{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookShoppe | Confirmation</title>
    <link rel="stylesheet" href="{% static 'BookShoppe/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="navbar" style="background-color:black ;">
        <div class="logo">
            <a href="/index"><h3>Book<span>Shoppe</span></h3></a>
        </div>
        <div class="menu">
            <a href="/index">Home</a>
            <a href="/book_list">Books</a>
            <a href="/cart"><i class='bx bx-cart-alt'></i>Cart</a>
        </div>
        <div class="signup">
            {% if request.user.is_authenticated %}
                <a href=""><i class='bx bx-user'></i> {{request.user}}</a>
                <a href="/logout_page" style="padding-left: 10px;"><i class='bx bx-log-out'></i></a>
            {% else %}
                <a href="/sign_up"><i class='bx bx-user'></i> Sign Up</a>
            {% endif %}
        </div>
    </div>

    <h3 class="title">Order Confirmation</h3>

    <div class="container">
        <p><strong>Shipping Address:</strong> {{ order.shipping_address }}</p>
        <p><strong>Total Cost:</strong> ${{ order.total_cost }}</p>
    </div>

    <div class="footer">
        <p>&copy; 2023 BookShoppe. All rights reserved.</p>
    </div>

</body>
</html>